[submodule "yolo_service/yolov5"]
	path = yolo_service/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "distributed_systems_server"]
	path = distributed_systems_server
	url = https://github.com/IraCoCo/distributed_systems_server.git
